---
import Footer from "@/components/shared/Footer.astro";
import Header from "@/components/shared/Header.astro";
import "@/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const description = "Learn about Hooks in React";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dyhudqjn6/image/upload/v1733809180/public-image_wtdfmn.jpg"
    />
    <meta property="og:locale" content="es_MX" />
    <meta property="og:url" content="https://castdev-j-hooks-react.netlify.app/" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-50">
    <Header title="Hooks en React" />
    <slot />
    <Footer />
  </body>
</html>
